duckstation-linux/config/duckstation/bios
duckstation-linux/config/duckstation/games

EPSXE1.7-windows/bios

EPSXE1.8-windows/bios

ePSXe205-windows/bios
ePSXe205-windows/isos

pcsxr-linux/bios

PSXeven-windows/bios

PCSX21.6.0-windows/bios
PCSX21.6.0-windows/isos

ppsspp-windows/memstick/PSP/GAME

ppssppgold-windows/games